* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #434343;
    background-color: #f2f2f2;
}

.select-file {
    padding-top: 80px;
    text-align: center;
}

.select-file h1 {
    margin-bottom: 10px;
}

input[type="file"] {
    display: none;
}

.custom-button {
    padding: 10px 40px 10px 40px;
}

.custom-file-upload {
    color: #fff;
    background-color: #e22b00;
    border-radius: 10px;
    cursor: pointer;
}

.parse-json {
    padding-top: 50px;
}

.generated-form {
    padding: 15px;
    border: 2px solid #dbdbdb;
    background-color: #fff;
}

h2 {
    font-size: 1.5em;
}

.drop-form {
    margin-left: 20px;
    text-align: center;
}


